/*  CSS GENERALE */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
    font-family: sans-serif;
}

.boxed {
    max-width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.dashed {
    border: dashed 2px black;
}

.bg-orange {
    background-color: orange;
}

.bg-gray {
    background-color: lightgray;
}

/* HEADER */

header {
    background: lightblue;
    padding-top: 1em;
    padding-bottom: 5px;
}

.header-container {
    min-height: 50px;
}

.header-column-logo {
    width: 20%;
}

.header-column-links {
    width: 60%;
    justify-content: center;
}

.header-column-login {
    width: 20%;
    justify-content: flex-end;
}

.header-column-logo,
.header-column-links,
.header-column-login {
    align-items: center;
}

.jumbotron {
    background-color: blue;
    margin-top: 1em;
}

.jumbotron-container {
    justify-content: center;
    min-height: 250px;
    padding: 1em 0;
}

.jumbotron-content {
    background-color: violet;
    width: 80%;
}