/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/* Header styles */

.container-header {
    width: 80%;
    margin: 0 auto;
}

/* Header */
.site-header {
    background-color: aqua;
    padding: 10px 0px;
}

.header-row {
    display: flex;
    padding: 20px 0;
    background-color: orange;
}

.header-logo {
    flex-grow: 1;
}

.header-menu {
    flex-grow: 1;
    text-align: center;
    padding: 30px 0;
}

.header-actions {
    flex-grow: 1;
    text-align: right;
}

/* JUMBOTRON STYLES */

.jumbotron {
    background-color: blue;
    color: black;
    padding: 80px 0;
    text-align: center;
}

.jumbo-content {
    border: 2px dashed #fff;
    padding: 100px;
    background-color: pink;
}